@import './sass/Variables.scss';
@import './sass/Header.scss';
@import './sass/Footer.scss';
@import './sass/Trangchu.scss';
@import './sass/Dongho.scss';
@import './sass/Detail.scss';

*{
    margin: 0;
    padding: 0;
}

$abc : 100%;
